{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
	{{ post.title }}
{% endblock %}
	
{% block content %}
	<div class="blog-post">
		<h2 class="blog-post-title">{{ post.title }}</h2>
		<p class="blog-post-meta">{{ post.pub_date }}</p>
		<p style="font-style: italic;">{{ post.intro }}</p>
		<hr>
		<p>{{ post.text }}</p>
		<div class="card-footer bg-transparent post-bottom">
			<ul class="post-stats">
				<form id="voting" method="POST" action="" class="form-inline">
					{% csrf_token %}
					<button type="submit" class="upvote text-muted" data-id="{{ post.id }}" data-type="article" data-action="upvote" title="Upvote" style="border: 0; background: transparent"><i class="icon-up"></i></button>
					<div id="rating">{{ post_votes }}</div>
					<button type="submit" class="downvote text-muted" data-id="{{ post.id }}" data-type="article" data-action="downvote" title="Downvote" style="border: 0; background: transparent"><i class="icon-down"></i></button>
				</form>
				<li>
					<i class="icon-eye text-muted"></i>
					{% get_hit_count for post %}
				</li>
				<li>
					<i class="icon-comment text-muted"></i>
					{{ comments.count }}
				</li>
				<li>
					<i class="icon-tag text-muted"></i>
					{% for tag in post.tags.all %}
						<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
					{% endfor %}
				</li>
			</ul>
		</div>
		<hr>
		<div class='comment_section'>
			<form id='create_comment' method='POST' action=''>
				{% csrf_token %}
				<div>
					<h3>Comments</h3>
				</div>
				{% if request.user.is_authenticated %}
					<div class="mb-3">
					  <textarea class="form-control" name="comment_text" placeholder="Leave a comment..." rows="3"></textarea>
					  <input class="btn btn-outline-primary" type="submit" value="Submit">
					</div>
				{% else %}
					<div class="d-sm-flex border" style="padding: 10px; margin: 15px;">
					  <h6 style="margin-top: 0.5rem;">Only authenticated users can leave comments. Register or log in</h6>
					  <a href="{% url 'register' %}" class="btn btn-outline-primary btn-sm">Register</a>
					  <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">Log in</a>
					</div>
				{% endif %}
			</form>
			<ul>
				{% if comments %}
					<ul class='commentslist'>
						{% for comment in comments %}
							<li><strong>{{ comment.author_name }}</strong></li>
							<li>{{ comment.comment_text }}</li>
							<hr>
						{% endfor %}
					</ul>
				{% else %}
					<div class='commentslist'><span><i>No comments yet</i></span></div>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}